.profile__info {
    margin: 0 auto 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 282px;
}

@media screen and (min-width: 931px) {
  .profile__info {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    max-width: 50%;
  }
}

