.page {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
