.popup__title {
  margin: 0;
  padding: 0;
  max-width: 238px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (min-width: 1280px) {
  .popup__title {
    max-width: 330px;
    font-size: 24px;
    line-height: 1.21;
  }
}
