.popup__input {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 23px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:first-of-type {
  margin-top: 70px;
}

@media screen and (min-width: 1280px) {
  .popup__input:first-of-type {
    margin-top: 50px;
  }
}
