.sign__redirect-button {
    padding: 0;
    position: absolute;
    top: -51px;
    right: 0;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    background: #000000;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
}